{"filter":false,"title":"requirements.txt","tooltip":"/book/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":177.5,"scrollleft":0,"selection":{"start":{"row":19,"column":0},"end":{"row":19,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":10,"state":"start","mode":"ace/mode/text"}},"timestamp":1650198030169,"hash":"ed9ff4a8c5899cd780ef4ef22e9bc1fe7a85be43"}