{"filter":false,"title":"requirements.txt","tooltip":"/user/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":102.19999999999996,"scrollleft":0,"selection":{"start":{"row":7,"column":25},"end":{"row":7,"column":25},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1650112841801,"hash":"30254a98715b3bb0699d52d7a41bb6cd865b685b"}