{"filter":false,"title":"requirements.txt","tooltip":"/sumit2121/frontend/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":81.19999999999968,"scrollleft":0,"selection":{"start":{"row":60,"column":0},"end":{"row":60,"column":20},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":1,"state":"start","mode":"ace/mode/text"}},"timestamp":1650122769306,"hash":"2976c402bc259bcf4ed18ed7a9ba7d6722eb18f5"}